*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: 'poppins', sans-serif;
    background-color: #ead79f;
}
.img-fluid{
    width: 100%;
    height: auto;
}
.txt-center{
    text-align: center;
}
.container{
    width: 100%;
    padding-top: 40px;
    overflow: hidden;
}
.container .img{
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
}
.container .content,
.container .head{
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
}
.container .content .head h1{
    font-size: 22px;
    text-align: center;
    color: #888;
    margin-bottom: 20px;
    padding-top: 10px;
}
.container .content img,
.container .head{
    border: 10px solid #f4f4f4;
    border-radius: 8px;
    overflow: hidden;
}
.container .content .button{
    padding: 10px 16px;
    text-align: center;
     border: 10px solid #f4f4f4;
    border-radius: 8px;
}
.container .content .button button{
    cursor: pointer;
    background-color: #ffcb49;
    padding: 10px 12px;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: 'poppins', sans-serif;
}